{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}
	<div id="home">
		<div class="conatainer-fluid">
			<nav class="home-navbar flex red">
				<a href=" {{ path('app_home') }} "><img width="150px" height="150px" src=" {{asset('build/images/image_logo.png') }} " alt="logo"></a>
				<div class="home-navbar-links navbar">
					<span class="label label-danger">Label</span>
					<div class="alert alert-success" role="alert">
						<strong>Success</strong>
						<a href="#" class="alert-link">success link</a>
					</div>
				</div>
			</nav>
			{% include "resource/home_header.html.twig" %}
		</div>
		{# <img width="150px" height="150px" src=" {{asset('build/images/header_01.svg') }} " alt="logo"> #}
	</div>
{% endblock %}
