{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}
	<div id="home">
		<div class="row">

			<nav class="home-navbar line red">
				<a href=" {{ path('app_home') }} "><img width="150px" height="150px" src=" {{asset('build/images/image_logo.png') }} " alt="logo"></a>
			</nav>

			{% include "resource/home_header.html.twig" %}
<h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
			<div class="container">
				<h1>debut de la page home</h1>
				<i class="fa fa-safari" aria-hidden="true"></i>
				<i class="fa fa-500px" aria-hidden="true"></i>
			</div>
		</div>
	</div>
{% endblock %}
