<header class="row">
	<div class="container">
		<h1 class="big-title line">Vos service au niveau national</h1>
		<main class="main row flex">
			<div class="col-12">
				<h2 class="title">Confier vos
					<strong>projets</strong>
					et/ou
					<strong>Services</strong>
					à des pros
				</h2>
			</div>
			<div class="col col-xl-12 col-sm-6 green">
				<p>Le contenu de la second div</p>
			</div>
		</main>
	</div>
</header>
