.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.aqua {
    background-color: aqua;
}

.blue {
    background-color: blue;
}

.tomato {
    background-color: tomato;
}

.whitesmoke {
    background-color: whitesmoke;
}

.authe {
    background-color: rgb(218, 72, 218);
}
